{% extends "base.html" %}

{% block content %}
    <div class="container my-5" >
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="p-4 border border-secondary rounded text-center">
                    <h1 class="mb-4">Projets</h1>
                    <div class="d-grid gap-2">
                        <a href="{{ url_for('List_FichesSuivi') }}" class="btn btn-lg btn-dark" role="button">Projets en phase de consultation</a>
                        <a href="#" class="btn btn-lg btn-dark" role="button">Projets en phase de production</a>
                        <a href="{{ url_for('AjouterProjet') }}" class="btn btn-lg btn-secondary" role="button">Nouveau projet +</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


