{% extends "base.html" %}

{% block content %}
    <br><br>
    <h1 style="margin-left: 100px;">Liste des projets en phase de consultation</h1>
    <br><br>
    <div style="margin: 0 30px 0 30px;">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">FSN</th>
                <th scope="col">Nom du projet</th>
                <th scope="col">Client</th>
                <th scope="col">Agent affecté</th>
              </tr>
            </thead>
            <tbody>
                {% for fiche in fiches %}
                <tr>
                    <td>{{ fiche.FSN }}</td>
                    <td>{{ fiche.nom }}</td>
                    <td>{{ fiche.client.name }}</td>
                    <td>{{ fiche.user.username }}</td>
                    <td>
                        {% if current_user.id == fiche.user_id %}
                            <button type="button">Consulter</button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
{% endblock %}