{% extends 'base.html' %}

{% block content %}
<br><br>
<h1 style="margin-left: 100px;">Liste des clients</h1>
<br><br>
<div style="margin: 0 30px 0 30px;">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Tel1</th>
            <th scope="col">Tel2</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody class="table-active">
            {% for client in clients %}
            <tr>
                <td><a href="{{ url_for('AfficherProjet', id=fiche.id) }}">{{ client.nom }}</a></td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.tel1 or client.tel }}</td>
                <td>{{ client.tel2 or client.gsm }}</td>
                <td>{{ client.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}