{% extends "base.html" %}
<title>Connexion</title>

{% block content %}
    <div style="width: 30%; margin: auto; text-align: center; margin-top: 200px;">
        <h1>Se connecter</h1><br>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingUsername" placeholder="Username" 
                    name="{{ form.username.name }}" value="{{ form.username._value() }}">
                <label for="floatingUsername">{{ form.username.label.text }}</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" 
                    name="{{ form.password.name }}" value="{{ form.password._value() }}" autocomplete="off">
                <label for="floatingPassword">{{ form.password.label.text }}</label>
            </div>
            <br>
            <button class="btn btn-lg btn-primary" type="submit">Connexion</button>
        </form>
    </div>
{% endblock %}