{% extends 'base.html' %}
{% from 'macros.html' import render_input %}

{% block content %}

<head>
    {% if current_user.privilege == 'admin' %}
    <title>Modifier agent</title>
    {% else %}
    <title>Modifier profil</title>
    {% endif %}
</head>
<body>
    <br>
    {% if current_user.privilege == "admin" %}
    <h1 style="margin-left: 100px;">Modification du profil de {{ current_user.personne.prenom +" "+ current_user.personne.nom }}</h1><br>
    {% else %}
    <h1 style="margin-left: 100px;">Modifier profil</h1><br>
    {% endif %}
    <div style="margin: 0px 1200px 0px 100px;">
        <form action="{{ url_for('ModifierAgent', id=current_user.id) }}" method="post">
            {{ form.hidden_tag() }}
            
            <div id="profil">
                {{ render_input(form.nom, "Nom")}}
                {{ render_input(form.prenom, "Prénom")}}
                {{ render_input(form.adresse, "Adresse")}}
                {{ render_input(form.tel, "Téléphone")}}
                {{ render_input(form.email, "Email")}}
                {{ render_input(form.password, "Mot de passe", type="password")}}
                {{ render_input(form.confirm_password, "Confirmer mot de passe", type="password")}}
                {% if current_user.privilege == 'admin' %}
                    {{ render_input(form.privilege, "Rôle") }}
                {% endif %}

            </div>
            <div id="btn" style="margin-top: 50px; float: right; padding-bottom: 250px;">
                <button type="button" class="btn btn-secondary" onclick="window.history.back()">Annuler</button>
                <button type="submit" class="btn btn-dark">Enregistrer</button>
            </div>
        </form>
    </div>
</body>

{% endblock %}