{% extends 'base.html' %}
{% from 'macros.html' import render_input, render_select %}

{% block content %}
    <br>
    <h1 style="margin-left: 100px;">Nouveau projet</h1><br>
    <div style="margin: 0px 1200px 0px 100px;">
        <form action="{{ url_for('AjouterProjet') }}" method="post">
            {{ form.hidden_tag() }}
            
            <div id="projet">
                <h2 class="text-secondary">Informations du projet:</h2>
                {{ render_input(form.nom, "Nom du projet") }}
                {{ render_input(form.adresse, "Adresse du projet") }}
                {{ render_select(form.agent, "Choisir un agent", form.agent.choices) }}
                {{ render_select(form.client, "Sélectionner un client", form.client.choices) }} <a type="button" href="{{ url_for('CreerClient') }}" class="btn btn-secondary">Nouveau client</a>
            </div>
            <div id="btn" style="margin-top: 50px; float: right; padding-bottom: 250px;">
                <a type="button" class="btn btn-secondary" onclick="window.history.back()">Annuler</a>
                <button type="submit" class="btn btn-dark">Enregistrer</button>
            </div>
        </form>
    </div>
{% endblock %}