{% extends 'base.html' %}

{% block content %}
    <br>
    <h1 style="margin-left: 100px;">Nouveau projet</h1><br>
    <div style="margin: 0px 1200px 0px 100px;">
        <form action="{{ url_for('AjouterProjet') }}" method="post">
            {{ form.hidden_tag() }}
            <div id="projet" >
                <h2 class="text-secondary">Infos du projet:</h2>
                <div>
                    <label class="col-form-label mt-4" for="inputDefault">Nom:</label>
                    <input type="text" class="form-control" placeholder="Nom du projet" id="nom" 
                        value="{{ form.nom.data }}">
                </div>
                <div>
                    <label class="col-form-label mt-4" for="inputDefault">Adresse:</label>
                    <input type="text" class="form-control" placeholder="Adresse du projet" id="adresse"
                        value="{{ form.adresse.data }}">
                </div>
                <div>
                    <label class="col-form-label mt-4" for="inputDefault">Agent affecté:</label>
                    <select class="form-control" id="agent">
                        <option value="0">Choisir un agent</option>
                        {% for agent in choices %}
                            <option value="{{ agent.id }}">{{ agent.nom }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div id="client" style="margin-top: 75px;">
                <h2 class="text-secondary">Infos du client:</h2>
                <div>
                    <label class="col-form-label mt-4" for="inputDefault">Nom:</label>
                    <input type="text" class="form-control" placeholder="Nom du client" id="nom" 
                        value="{{ form2.nom.data }}">
                </div>
                <div>
                    <label class="col-form-label mt-4" for="inputDefault">Type de société:</label>
                    <input type="text" class="form-control" placeholder="Type de société" id="type_societe" 
                        value="{{ form2.type_societe.data }}">
                </div>
                <div>
                    <label class="col-form-label mt-4" for="inputDefault">Domaine:</label>
                    <input type="text" class="form-control" placeholder="Domaine" id="domaine" 
                        value="{{ form2.domaine.data }}">
                </div>
                <div>
                    <label class="col-form-label mt-4" for="inputDefault">Tel 1:</label>
                    <input type="text" class="form-control" placeholder="Tel 1" id="tel1" 
                        value="{{ form2.tel1.data }}">
                </div>
                <div>
                    <label class="col-form-label mt-4" for="inputDefault">Tel 2:</label>
                    <input type="text" class="form-control" placeholder="Tel 2" id="tel2" 
                        value="{{ form2.tel2.data }}">
                </div>
                <div>
                    <label class="col-form-label mt-4" for="inputDefault">Fax:</label>
                    <input type="text" class="form-control" placeholder="Fax" id="fax" 
                        value="{{ form2.fax.data }}">
                </div>
                <div>
                    <label class="col-form-label mt-4" for="inputDefault">Email:</label>
                    <input type="text" class="form-control" placeholder="Email" id="email" 
                        value="{{ form2.email.data }}">
                </div>
            </div>
            <div id="btn" style="margin-top: 50px; float: right;">
                <button type="button" class="btn btn-secondary" onclick="window.history.back();">Annuler</button>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
        </form>
    </div><br><br><br><br><br><br>
{% endblock %}