{% extends 'base.html' %}
{% from 'macros.html' import render_input %}

{% block content %}
    <br>
    <h1 style="margin-left: 100px;">Nouveau client</h1>
        <form action="{{ url_for('CreerClient') }}" method="POST" class="container" style="margin-top: 75px;">
            {{ form.hidden_tag() }}
            <div style="display: flex; justify-content: flex-end; flex-direction: row; gap: 100px; ">
                <div id="Société" style="flex: 1;">
                    <h2 class="text-secondary">Infos de la sociéte:</h2>
                    {{ render_input(form2.nom, "Nom du client") }}
                    {{ render_input(form2.type_societe, "Type de société") }}
                    {{ render_input(form2.domaine, "Domaine") }}
                    {{ render_input(form2.tel1, "Tel 1") }}
                    {{ render_input(form2.tel2, "Tel 2") }}
                    {{ render_input(form2.fax, "Fax") }}
                    {{ render_input(form2.email, "Email", type="email") }}
                </div>
                <div id="contact" style="flex: 1;">
                    <h2 class="text-secondary">Infos du contact:</h2>
                    {{ render_input(form.nom, "Nom") }}
                    {{ render_input(form.prenom, "Prénom") }}
                    {{ render_input(form.tel, "Tel") }}
                    {{ render_input(form.gsm, "GSM") }}
                    {{ render_input(form.email, "Email", type="email") }}
                </div>
            </div>
            <div id="btn" style="margin-top: 50px; float: right;">
                <button type="button" class="btn btn-secondary" onclick="window.history.back()">Annuler</button>
                <button type="submit" class="btn btn-dark">Créer</button>
            </div><br><br><br><br><br><br>
        </form>
{% endblock %}